@import '../../styles/variables';

.input {
  width: 100%;
  padding: 1rem 0;
  font-weight: $font-book;
  text-align: center;
  color: $navy;
  border: 2px solid $navy;
  border-radius: $rounded-medium;
  background-color: transparent;

  &::placeholder {
    color: rgba($color: $navy, $alpha: 0.6);
  }

  &:focus::placeholder {
    color: transparent;
  }
}
