// COLORS
$white: #ffffff;
$red: #ff6363;
$green: #14c38e;
$blue: #7fb5ff;
$orange: #ffab76;
$orange-light: #ffe4c0;
$navy: #13385e;
$beige: #faf0d7;

// FONTS
$font-book: 600;
$font-black: 700;

// GLOBAL STYLES
$body-bg: $beige;

// SHAPES
$rounded-small: 0.25rem;
$rounded-medium: 0.5rem;
$rounded-normal: 1rem;
$rounded-full: 999px;
$shadow: 0px 4px 25px rgba(203, 203, 203, 0.25);
$opacity: 0.5;

// ANIMATIONS
$transition-duration: 0.2s;
